@font-face {
    font-family: "Muli-Bold";  
    src: url("../fonts/Muli-Bold.ttf") format("ttf"); 
    font-style: normal; 
    font-weight: normal;
    }
@font-face {
    font-family: "Muli-BoldItalic";  
    src: url("../fonts/Muli-BoldItalic.ttf") format("ttf"); 
    font-style: normal; 
    font-weight: normal;
    }
@font-face {
    font-family: "Muli-ExtraBold";  
    src: url("../fonts/Muli-ExtraBold.woff") format("woff"); 
    font-style: normal; 
    font-weight: normal;
    }
@font-face {
    font-family: "Muli-Italic";  
    src: url("../fonts/Muli-Italic.ttf") format("ttf"); 
    font-style: normal; 
    font-weight: normal;
    }
@font-face {
    font-family: "Muli-Regular";  
    src: url("../fonts/Muli-Regular.woff") format("woff"); 
    font-style: normal; 
    font-weight: normal;
    }
@font-face {
    font-family: "Muli-Semi-BoldItalic";  
    src: url("../fonts/Muli-Semi-BoldItalic.ttf") format("ttf"); 
    font-style: normal; 
    font-weight: normal;
    }